:root {
	--main-font: 'Roboto', 'Helvetica', 'sans-serif';

	--side-padding: 2rem;

	--bg-color: #D4F1F4;
	--header-color: #0d97ff;
	--btn-color: #231709;
}


body {
	height: 100vh;
	display: grid;
	grid-template-rows: 150px 1fr 50px;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0;
	background-color: var(--bg-color);
	color: white;
	font-family: var(--main-font);
}

.container {
	display: grid;
	align-items: center;
	justify-items: center;
}

body > div {
	padding: 12px var(--side-padding);
}

.header,
.footer {
	background-color: var(--header-color);
	color: white;
}

.header {
	grid-template-columns: 2fr 1fr;;

	justify-items: stretch;
	text-align: center;
	gap: 12px;
}

.btn-container {
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
	gap: 12px;	
}

button {
	max-width: 200px;
	padding: 8px 18px;
	border-radius: 16px;
	border: 2px solid gray;
	background-color: var(--btn-color);
	font-weight: 800;
	color: white;
}

.main {
	color: var(--btn-color);
	grid-row: 2;

	grid-template-rows: 30px 1fr;
	gap: 16px;
	justify-items: stretch;
	align-items: start;
}

.table-header {
	grid-row: 1 / 2;
}

.table-header,
.book-container {
	grid-template-columns: minmax(20px, 1fr) 2fr 2fr repeat(2, minmax(20px, 1fr)) 90px 90px;
	column-gap: 8px;
}

.book-container {
	background-color: white;
	border-left: 4px solid orange;
}

form {
	grid-row: 1 / -1;
	align-self: stretch;
	grid-template-rows: 3fr 1fr;
	padding: 1rem;
}

fieldset {
	grid-column: 1 / 2;
	align-self: stretch;

	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 1fr 1fr;
}

.options {
	grid-template-columns: repeat(2, 1fr);
	column-gap: 12px;
}

.radio {
	grid-template-columns: 1fr 3fr;
	justify-items: start;
	gap: 8px;
}

.main .btn-container {
	width: min(250px, 80%);
}

.footer {
	grid-row: 3;
}
